.promo{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #e53935;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	margin-left: -15px;
	margin-top: -10px;
	transform: rotate(-20deg);
	font-weight: bold;
	border: 1px solid black;

}

.section .form-group{
	margin-bottom: 30px;
}