.faixa{
	background-color: #1976D2;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	color: white;
}

.faixa h1, h2{
	margin-bottom: 20px;
}

footer{
	border-top: 2px solid black;
}

.caixa{
	background-color: gray;
	border-bottom-left-radius: 20px;
	height: 30px;
	padding-right: 10px;
	padding-top: 5px;
}

.caixa a{
	color: white;
	padding: 5px;
	text-decoration: none;	
}

body{
	background-color: #FFEB3B;
}

footer, .topHead{
	background-color: #FFCA28;
}

.topHead{
	padding-bottom: 10px;
}

.navbar{
	background-color: #1976D2;
	border-top-color: black;
	border-bottom-color: black;
}

.dropdown-menu, .dropdown-menu>li>a:hover{
	background-color: #1976D2;
}

.navbar a{
	color: white !important;
}

.navbar .icon-bar{
	background-color: white !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #3949AB;
}

.navbar-default .navbar-toggle:hover{
	background-color: inherit;
}