.carousel-inner .item {
	height: 500px;
	overflow: hidden;
	width: 100%;
}

@media (max-width: 800px){
	.carousel-inner .item{
		height: 200px;
	}
}


.carousel-inner .item img {
	width: 100%;
}

.content{
	margin-bottom: 100px;
}

@media (max-width: 600px){
	.content{
		margin-bottom: 0;
	}

	.footer{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}